.aboutContent h2 {
  color: #75fd92;
  font-family: "Noto Sans";
  display: block;
}

.aboutContent {
  /* display: flex; */
  margin-left: 20%;
  margin-right: 5%;

  /* justify-content: center; */
}
@media (max-width: 1150px) {
  .aboutContent {
    margin-left: 10%;
  }
}

.about1 img:first-of-type {
  width: 20%;
  /* min-width: 100px; */
}

.aboutContent img {
  width: 150px;
}
.about1 {
  display: flex;
  flex-wrap: wrap;
}
