.title {
  text-shadow: 0 0 7px white;
  opacity: 0;
  animation: opacity 1.5s forwards;
  animation-delay: 1.2s;
}

@keyframes opacity {
  100% {
    opacity: 100;
  }
}

.lBrace {
  transform: translateX(200%);
  animation: moveL 0.8s forwards;
  animation-delay: 0.5s;
}

.rBrace {
  transform: translateX(-200%);
  animation: moveR 0.8s forwards;
  animation-delay: 0.5s;
}

@keyframes moveL {
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveR {
  100% {
    transform: translateX(0%);
  }
}

/* fade-in-out animation used from https://christopheraue.net/design/fading-pages-on-load-and-unload */

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  background: white;
  /* animation: fade-out; */
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fade.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fade.fade-in {
  opacity: 1;
  animation-name: fade-in;
}
