.aboutContent h2,
.contactContent h2 {
  color: #75fd92;
  font-family: "Noto Sans";
}

.aboutContent,
.contactContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactContent {
  margin-top: 60px;
}
.contactCards img:not(#bitmojiContact) {
  background-color: #f4f5fc;
  border-radius: 10px;
  box-shadow: inset 5px -5px 2px rgb(186, 186, 186);
  padding: 10px;
  width: 60px;
  transform: translate(-30px, -40px);
}

.contactCards {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.flexContainer {
  display: flex;
  align-items: center;
}

.contactCards a {
  margin-top: 50px;
  display: flex;
  width: 400px;
  height: 100px;
  background-image: linear-gradient(to right, #75fd92 10%, #469757) !important;
}

#bitmojiContact {
  position: absolute;

  transform: translate(50px, -130px) rotateZ(45deg);
  z-index: -1;

  width: 150px;
}

.contactCards h2 {
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  color: #f4f5fc;
}

.contactCards #mail {
  color: #f4f5fc;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  #mail {
    font-size: 12px;
  }
  #mailimg {
    margin-right: -25px;
  }
}
footer {
  width: 100% !important;
}

.contactCards h2 {
  margin-right: 25px;
}

@media only screen and (max-width: 500px) {
  .contactCards a {
    width: 250px;
  }
}
