/* colors: #24293E, #8EBBFF, #F4F5FC, #2D3652 */

* {
  margin: 0;
}

body {
  background-color: #24293e;
  width: 100%;
  height: 100%;
}

/* nav {
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: #2d3652;
  display: flex;
} */

nav {
  z-index: 11;
  width: 15%;
  height: 100%;
  background-color: #2d3652;
  height: 100%;
  position: absolute;
}

nav h4 {
  font-family: "Share Tech mono";
}

ul {
  margin-top: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: #f4f5fc;
  /* background-color: #2d3652; */
}

a {
  all: unset;
  font-size: 25px;
  font-family: "Share Tech mono";
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #75fd92;
}

.homeContent {
  margin-top: 50px;
  margin-left: 20%;
}

p {
  font-size: 20px;
  margin-top: 50px;
  /* margin-left: 500px; */
  margin-right: 500px;
  color: #f4f5fc;
  font-family: "Noto Sans";
  font-weight: 0;
}

h2,
h3 {
  letter-spacing: -3px;
  font-size: 50px;
  font-weight: 200;
  font-family: "Share Tech mono";
  color: #f4f5fc;
}

h3 {
  font-size: 30px;
}

footer {
  background-color: #2d3652;
  height: 10%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap'); */
