/* colors: #24293E, #8EBBFF, #F4F5FC, #2D3652 */

* {
  margin: 0;
}

body {
  /* width: 100%; */
  /* height: 100%;  */
  background-color: #24293e;
}

nav {
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: #2d3652;
  display: flex;
}

nav {
  z-index: 11;
  width: 15%;
  height: 100%;
  background-color: #2d3652;
  height: 100%;
  position: fixed;
}

nav h4 {
  font-family: "Share Tech mono";
}

ul {
  margin-top: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: #f4f5fc;
  /* background-color: #2d3652; */
}

a {
  all: unset;
  font-size: 25px;
  font-family: "Share Tech mono";
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #75fd92;
  /* font-size: 30px; */
}

.homeContent {
  margin-top: 10px;
  margin-left: 20%;
  /* margin-right: 0px; */
}

p {
  font-size: 17px;
  margin-top: 10px;
  /* margin-left: 500px; */
  margin-right: 10px;
  color: #f4f5fc;
  font-family: "Noto Sans";
}

h2,
h3 {
  font-size: 50px;
  font-weight: 200;
  font-family: "Share Tech mono";
  color: #f4f5fc;
}

h3 {
  font-size: 30px;
}

footer {
  position: relative;
  background-color: #2d2d2d;
  width: 100%;
  height: 100px;
  z-index: 15;
  text-align: center;
}

main {
  margin-bottom: 10%;
}

@media (max-width: 1450px) {
  footer {
    position: fixed;
    bottom: 0;
    overflow: hidden;
  }
}
@media (min-width: 1150px) {
  .hamburger {
    display: none;
  }

  nav {
    display: block !important;
  }

  
}
@media (max-width: 1150px) {
  nav {
    display: none;
    width: 300px;
    height: 500px;
    /* border: red solid; */
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.613);
    border-radius: 0px 0px 70px 0px;
  }

  /* @media (min-width: 350px) {
    .wave {
      position: absolute !important;
      background-color: white !important;
    }
  } */

  .hamburger {
    position: fixed;
    z-index: 150;
    top: 0;
  }

  /* .homeContent {
    margin: 0; 
     margin-left: 20px;
  } */

  /* h2 {
    max-width: 100px;
  } */
}
.active {
  color: #75fd92;
}

footer h2 {
  margin-left: 10px;
  margin-right: 10px;
}

/* .wave {
display: flex;
justify-content: right;
} */
.wave {
  /* position: absolute; */
  /* background-color: blue;
  display: flex;
  justify-content: right; */
  /* position: absolute; */
  /* position: absolute; */
}
#bitmoji {
  position: fixed;
  width: 200px;
  background-color: white;
  right: 0;
  /* overflow: auto; */

  /* background-color: white; */
  /* width: 350px !important; */
  /* width: 45% !important; */
  /* width: 100px;
  height: 100px; */
  /* margin-right: 0;
  margin-left: auto; */
}

/* .testDiv img {
  width: 200px;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap'); */

