@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

body {
  background-color: #24293e;
}

nav {
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: #2d3652;
  display: flex;
}

nav {
  z-index: 11;
  width: 15%;
  height: 100%;
  background-color: #2d3652;
  height: 100%;
  position: fixed;
}

nav h4 {
  font-family: "Share Tech mono";
}

ul {
  margin-top: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: #f4f5fc;
}

a {
  all: unset;
  font-size: 25px;
  font-family: "Share Tech mono";
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #75fd92;
}

.homeContent {
  margin-top: 10px;
  margin-left: 20%;
}

p {
  font-size: 17px;
  margin-top: 10px;

  margin-right: 10px;
  color: #f4f5fc;
  font-family: "Noto Sans";
}

h2,
h3 {
  font-size: 50px;
  font-weight: 200;
  font-family: "Share Tech mono";
  color: #f4f5fc;
}

h3 {
  font-size: 30px;
}

footer {
  background-color: #2d2d2d;
  width: 100%;
  /* height: 100px; */
  z-index: 15;
  text-align: center;
}

main {
  margin-bottom: 10%;
}

/* @media (max-width: 1450px) {
  footer {
    position: fixed;
    bottom: 0;
  }
} */
@media (min-width: 1150px) {
  .hamburger {
    display: none;
  }

  nav {
    display: block !important;
  }
}
@media (max-width: 1150px) {
  nav {
    display: none;
    width: 300px;
    height: 500px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.613);
    border-radius: 0px 0px 70px 0px;
  }

  .hamburger {
    position: fixed;
    z-index: 150;
    top: 0;
    background-color: #75fd9275;
    border-radius: 0px 0px 20px 0px;
    width: 60px;
  }
}
.active {
  color: #75fd92;
}

footer h2 {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #2d2d2d;
  height: 100px;
}

#bitmoji {
  /* z-index: 10; */
  position: absolute;
  pointer-events: none;
  width: 280px;
  top: 0;
  right: 0;
  transform: translateY(-20px);

  /* transform: translateY(-200px); */
}

/* @media(max-width:11641px) { */
  /* #bitmoji {   transform: translateY(350px); */
/* }

@media(max-width:740px) {
  #bitmoji {  width: 200px;
  }
}
@media (max-width: 440px) {
  #bitmoji {
    width: 50%;
  } */
/* } */
  


img .header {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 832px) {
  footer h2 {
    font-size: 40px;
  }
}

/* .footerBuffer {
  height: 1200px;
} */

@media (max-width: 870px) {
  .intro p {
    margin-right: 150px;
  }
  #bitmoji {
    transform: translateY(270px);
    width: 200px ;
  }
}

@media(max-width:686px) {
  .intro p {
    margin-right: 10px;
  }
  #bitmoji { 
    transform: translateY(500px);
    width: 150px;
  }
}
