/* colors: #26292B, #2E3239, #5F7ADB, #A2B2EE */
/* colors: #24293E, #8EBBFF, #F4F5FC, #2D3652 */

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #2d3652; */
}

.splash h1 {
  font-family: "Share Tech mono";
  color: #f4f5fc;
  font-size: 150px;
  font-weight: 500;
}

#miko {
  text-shadow: 0 0 7px white;
  opacity: 0;
  animation: opacity 1.5s forwards;
  animation-delay: 1.5s;
}

@keyframes opacity {
  100% {
    opacity: 100;
  }
}

.lBrace h1,
.rBrace h1 {
  /* color: rgb(135, 135, 135); */
  filter: drop-shadow(0px 8px 0px grey);
}

.lBrace {
  transform: translateX(170px);
  animation: moveL 1.5s forwards;
  animation-delay: 0.5s;
}

.rBrace {
  transform: translateX(-170px);
  animation: moveR 1.5s forwards;
  animation-delay: 0.5s;
}

@keyframes moveL {
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveR {
  100% {
    transform: translateX(0%);
  }
}
