
* {
  margin: 0;
}

/* body {
  width: 100%;
  height: 100%;
  background-color: #24293e;
} */
body {
    background-color: darkgreen ;
 
}
   .splash {
      /* width: 100% !important; */
    /* width: 100%;
    height: 100px; */
      display: flex;
      justify-content: center;
      /* align-items: center; */
      background-color: blue;
      /* text-align: center; */
      /* background-color: #2d3652; */
    }
    
    .splash h1 {
      /* display: block; */
    text-align: center;
      font-family: "Share Tech mono";
      color: #f4f5fc;
      font-size: 150px;
      font-weight: 500;
    }
    @media (max-width: 500px) {
      .splash h1 {
        font-size: 20vw;
      }
    }
      
    
.testDiv {
    /* position: absolute;
    right: 0; */
    /* margin-right: 0px;
    margin-left: auto; */
    /* width: 50px; */
    background-color: white;
  
    /* height: 100px; */
    
  }
  #testId img{
    
    /* width: 200px; */
  }
  #testId {
  
  
  }
  
  .testDiv img {
    position: absolute;
    background-color: white;
    /* width: 350px !important; */
    /* width: 45% !important; */
    /* width: 100px;
    height: 100px; */
    width: 400px;
    /* margin-right: 0;
    margin-left: auto; */
  
    right: 0;
  }

 
/* colors: #24293E, #8EBBFF, #F4F5FC, #2D3652 */



  /* @media (min-width: 350px) {
    .wave {
      position: absolute !important;
      background-color: white !important;
    }
  } */

 

  /* .homeContent {
    margin: 0; 
     margin-left: 20px;
  } */

  /* h2 {
    max-width: 100px;
  } */



/* .wave {
display: flex;
justify-content: right;
} */

  /* position: absolute; */
  /* background-color: blue;
  display: flex;
  justify-content: right; */
  /* position: absolute; */
  /* position: absolute; */





/* .testDiv img {
  width: 200px;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap'); */






/* colors: #26292B, #2E3239, #5F7ADB, #A2B2EE */
/* colors: #24293E, #8EBBFF, #F4F5FC, #2D3652 */

.splash {
  /* width: 100% !important; */

  display: flex;
  justify-content: center;
  /* align-items: center; */

  background-color: #469757;
  /* text-align: center; */
  /* background-color: #2d3652; */
}

.splash h1 {
  /* display: block; */
  text-align: center;
  font-family: "Share Tech mono";
  color: #f4f5fc;
  font-size: 150px;
  font-weight: 500;
}
@media (min-width: 550px) {
  .splash h1 {
    font-size: 20vw !important;
  }
}
#miko {
  text-shadow: 0 0 7px white;
  opacity: 0;
  animation: opacity 1.5s forwards;
  animation-delay: 1.5s;
}

@keyframes opacity {
  100% {
    opacity: 100;
  }
}

.lBrace h1,
.rBrace h1 {
  /* color: rgb(135, 135, 135); */
  filter: drop-shadow(0px 8px 0px grey);
}

/* .lBrace {
  transform: translateX(170px);
  animation: moveL 1.5s forwards;
  animation-delay: 0.5s;
}

.rBrace {
  transform: translateX(-170px);
  animation: moveR 1.5s forwards;
  animation-delay: 0.5s;
}

@keyframes moveL {
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveR {
  100% {
    transform: translateX(0%);
  }
} */



